:root {
  --clr-primary-300: hsl(249, 99%, 64%);
  --clr-primary-200: hsl(278, 94%, 30%);
  --clr-primary-100: hsl(0, 100%, 66%);
  --clr-neutral-800: hsl(278, 68%, 11%);
  --clr-neutral-500: hsl(279, 6%, 55%);
  --clr-neutral-300: hsl(270, 3%, 87%);
  --clr-neutral-200: hsl(0, 0%, 100%);

  --gradient-primary: linear-gradient(
    var(--clr-primary-300),
    var(--clr-primary-200)
  );

  --font-family-default: "Space Grotesk", sans-serif;

  --fs-base: 18px;

  --fw-regular: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family-default);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  color: var(--clr-neutral-300);
  line-height: 1.5;
  height: 100vh;
}

.bg-desktop-image {
  display: none;
}

.bg-mobile-image {
  width: 100%;
}

@media (width > 900px) {
  .bg-desktop-image {
    display: block;
    height: 100%;
  }

  .bg-mobile-image {
    display: none;
  }
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (width > 900px) {
  main {
    flex-direction: row;
  }
}

.left-side {
  position: relative;
  height: 50%;
}

@media (width > 900px) {
  .left-side {
    height: 100%;
  }
}

.bg-desktop-image {
  height: 100%;
}

.card-wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 0;
  right: 5vw;
}

@media (width> 900px) {
  .card-wrapper {
    flex-direction: column;
    top: 50%;
    right: -10vw;
    transform: translate(0, -50%);
  }
}

.card {
  --card-padding: 1em;
  padding: var(--card-padding);
  border-radius: 0.25rem;
  width: 70vw;
  aspect-ratio: 1.5;
}

@media (width > 900px) {
  .card {
    width: 25vw;
    aspect-ratio: 2.5;
  }
}

.card-front {
  background-image: url("./images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -25%;
  z-index: 99;
}

@media (width > 900px) {
  .card-front {
    margin: 0;
    margin-bottom: 1em;
  }
}

.card-logo {
  margin-bottom: 2em;
}

.card-number {
  font-size: 1.5rem;
}

@media (width> 900px) {
  .card-number {
    font-size: 1.75rem;
  }
}

.card-user-details {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.card-back {
  background-image: url("./images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 3.5em;
}

.card-cvc {
  color: var(--clr-neutral-200);
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -40%);
}

@media (width > 900px) {
  .card-back {
    height: 25vh;
  }

  .card-cvc {
    top: 50%;
    right: 10%;
    transform: translate(0, -10%);
  }
}

.right-side {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: var(--clr-neutral-200);
}

form {
  width: 100%;
  max-width: 500px;
  padding: 0 2em;
  margin-top: 8em;
}

@media (width > 900px) {
  form {
    margin-left: 25vw;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-block: 1em;
}

label {
  color: var(--clr-neutral-800);
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

input {
  --input-padding: 0.5em;
  border: 1px solid var(--clr-neutral-300);
  border-radius: 0.25rem;
  width: 100%;
  padding: var(--input-padding);
}

input:focus {
  border-color: var(--gradient-primary);
}

.card-cvc {
  border-color: var(--clr-primary-100);
}

.error-msg {
  padding-top: 0.75em;
  color: var(--clr-primary-100);
}

input::placeholder {
  color: var(--clr-neutral-500);
}

.success-container {
  display: none;
  text-align: center;
  color: var(--clr-neutral-500);
}

.success-title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: var(--clr-neutral-800);
  font-size: 2rem;
}

.success-text {
  margin-bottom: 1em;
}

.btn {
  --btn-padding: 0.5em;
  border: none;
  padding: var(--btn-padding) calc(var(--btn-padding) * 2);
  border-radius: 0.25rem;
}

.confirm-btn {
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-800);
  width: 100%;
}

.form-flex {
  display: flex;
  gap: 1em;
}
